In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [ ]:
#This section 
#Try to implement feature selection
#Bruteforce with different set of features
#Drop the pick, drop date time columns
#Drop Nan values 202 rows

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import tensorflow as tf
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.manifold import TSNE
from sklearn.decomposition import PCA, TruncatedSVD
import matplotlib.patches as mpatches
import time

# Classifier Libraries
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
import collections


# Other Libraries
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from imblearn.pipeline import make_pipeline as imbalanced_make_pipeline
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import NearMiss
from imblearn.metrics import classification_report_imbalanced
from sklearn.metrics import precision_score, recall_score, f1_score, roc_auc_score, accuracy_score, classification_report
from collections import Counter
from sklearn.model_selection import KFold, StratifiedKFold
import warnings
warnings.filterwarnings("ignore")


df = pd.read_csv('/content/gdrive/My Drive/ML Project Taxi Fair/train.csv')
df.head()

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm
/usr/local/lib/python3.6/dist-packages/sklearn/externals/six.py:31: FutureWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.neighbors.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.
  warnings.warn(message, FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.metrics.classification module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.metrics. Anything that cannot be imported from sklearn.metrics is now part of the private API.
  warnings.warn(message, FutureWarning)

      tripid  additional_fare  duration  ...  drop_lon    fare    label
0  189123628             10.5     834.0  ...   79.8783  270.32  correct
1  189125358             10.5     791.0  ...   79.8923  197.85  correct
2  189125719             10.5    1087.0  ...   79.9146  301.64  correct
3  189127273             10.5     598.0  ...   79.8971   82.30  correct
4  189128020              NaN       NaN  ...   79.9290  358.39  correct

[5 rows x 14 columns]

In [ ]:
#Drop the NaN and tripid
df.drop(columns=['tripid'], inplace=True)

In [ ]:
df.dropna(subset=['additional_fare','duration','meter_waiting','meter_waiting_fare','meter_waiting_till_pickup','fare'], inplace=True)

In [ ]:
#Convert labels for 1 and 0
#Before do describe, Let's convert the label as 1 and 0 .(1-correct and 0-incorrect)
def encoding_label(label):
  if(label=='correct'):
    return 1
  else:
    return 0

df['label']= df['label'].apply(encoding_label).values

In [ ]:
df.head()

   additional_fare  duration  meter_waiting  ...  drop_lon     fare label
0             10.5     834.0           56.0  ...   79.8783   270.32     1
1             10.5     791.0           47.0  ...   79.8923   197.85     1
2             10.5    1087.0           80.0  ...   79.9146   301.64     1
3             10.5     598.0          271.0  ...   79.8971    82.30     1
5             10.5    3407.0          182.0  ...   79.8649  1065.02     1

[5 rows x 13 columns]

In [ ]:
#Drop pickuptime and droptime
df.drop(columns=['pickup_time','drop_time'], inplace=True)

In [ ]:
#SRecurive feature selection
from sklearn.feature_selection import RFE
from sklearn.metrics import f1_score

X = df.drop(columns=['label']).values
Y = df['label'].values

def recursive_feature_selection(k ,name, model, X_train, Y_train, X_validation, Y_validation):
  rfe = RFE(model, k)

  fit = rfe.fit(X_train, Y_train)

  predicts = fit.predict(X_validation)

  print("Accuracy of {0} :# {1}".format(name, f1_score(predicts, Y_validation, )))

In [ ]:
#Train te models

from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC


models = []
models.append(('LR', LogisticRegression()))
models.append(('LDA', LinearDiscriminantAnalysis()))

models.append(('CART', DecisionTreeClassifier()))
#models.append(('SVM', SVC(gamma=0.05, kernel='linear')))
# evaluate each model in turn
results = []
names = []
for name, model in range(0,0):#models:
  kfold = StratifiedKFold(n_splits=10, random_state=1, shuffle=True)
  cv_results = cross_val_score(model, X_train, Y_train, cv=kfold, scoring='f1')
  results.append(cv_results)
  names.append(name)
  print('%s: %f (%f)' % (name, cv_results.mean(), cv_results.std()))
print("-"*100)

----------------------------------------------------------------------------------------------------

In [ ]:
X_train, X_validation, Y_train, Y_validation = train_test_split(X, Y, test_size=0.20, random_state=1)

for k in range(4,11):
  print("No of features : # {0}".format(k))
  for name, model in models:
    recursive_feature_selection(k, name, model, X_train, Y_train, X_validation, Y_validation)
  

  train_models(X_train, Y_train)

No of features : # 4
Accuracy of LR :# 0.9540407156076496
Accuracy of LDA :# 0.9537607891491985
Accuracy of CART :# 0.95
----------------------------------------------------------------------------------------------------
No of features : # 5
Accuracy of LR :# 0.9541171018075082
Accuracy of LDA :# 0.9535565499151365
Accuracy of CART :# 0.9510376134889753
----------------------------------------------------------------------------------------------------
No of features : # 6
Accuracy of LR :# 0.9541171018075082
Accuracy of LDA :# 0.9538699690402477
Accuracy of CART :# 0.9499675113710201
----------------------------------------------------------------------------------------------------
No of features : # 7
Accuracy of LR :# 0.9541171018075082
Accuracy of LDA :# 0.9538413878562578
Accuracy of CART :# 0.9528897523069452
----------------------------------------------------------------------------------------------------
No of features : # 8
Accuracy of LR :# 0.9539127745128364
Accuracy of LDA :# 0.953898514851485
Accuracy of CART :# 0.952674230145867
----------------------------------------------------------------------------------------------------
No of features : # 9
Accuracy of LR :# 0.9552007440706867
Accuracy of LDA :# 0.9540176497909894
Accuracy of CART :# 0.9512234645924486
----------------------------------------------------------------------------------------------------
No of features : # 10
Accuracy of LR :# 0.9552007440706867
Accuracy of LDA :# 0.9540176497909894
Accuracy of CART :# 0.952612000646935
----------------------------------------------------------------------------------------------------

In [ ]:
#6 is te best no of features
#Find best columns
test = SelectKBest(score_func=f_classif, k=6)

fit = test.fit(X, Y)
print(fit.scores_)
features = fit.transform(X)
# summarize selected features
print(features)

In [ ]:
columns = ['additional_fare','duration','meter_waiting','meter_waiting_fare','pick_lon','fare']

In [ ]:
model_ = KNeighborsClassifier()
model_.fit(features, Y)

In [ ]:
#Testing frame
test_frame = pd.read_csv("/content/gdrive/My Drive/ML Project Taxi Fair/test.csv")
trip_ids = test_frame['tripid']

#test_frame['pick_epoch'] = test_frame['pickup_time'].apply(timeToEpoch)
#test_frame['drop_epoch'] = test_frame['drop_time'].apply(timeToEpoch)

test_frame.drop(columns=['tripid','pickup_time','drop_time'], inplace=True)

X_test = test_frame[columns].values
predicted = model_.predict(X_test)

data_dict = { 'trip_id':trip_ids, 'prediction':predicted}
pd_test_result = pd.DataFrame(data=data_dict)

pd_test_result.to_csv('/content/gdrive/My Drive/ML Project Taxi Fair/sample_submission.csv')