In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
dataframe = pd.read_csv("/content/drive/My Drive/ML Project Taxi Fair/train.csv")

In [ ]:
dataframe.head()

      tripid  additional_fare  duration  ...  drop_lon    fare    label
0  189123628             10.5     834.0  ...   79.8783  270.32  correct
1  189125358             10.5     791.0  ...   79.8923  197.85  correct
2  189125719             10.5    1087.0  ...   79.9146  301.64  correct
3  189127273             10.5     598.0  ...   79.8971   82.30  correct
4  189128020              NaN       NaN  ...   79.9290  358.39  correct

[5 rows x 14 columns]

In [ ]:
dataframe.drop(columns=['tripid'], inplace=True)

In [ ]:
def transform(x):
  if x=='correct':
    return 1
  else:
    return 0

dataframe['label'] = dataframe['label'].apply(lambda x : transform(x))

In [ ]:
dataframe.head()

   additional_fare  duration  meter_waiting  ...  drop_lon    fare label
0             10.5     834.0           56.0  ...   79.8783  270.32     1
1             10.5     791.0           47.0  ...   79.8923  197.85     1
2             10.5    1087.0           80.0  ...   79.9146  301.64     1
3             10.5     598.0          271.0  ...   79.8971   82.30     1
4              NaN       NaN            NaN  ...   79.9290  358.39     1

[5 rows x 13 columns]

In [ ]:
dataframe.dropna(inplace=True)

In [ ]:
dataframe.drop(columns=['pickup_time','drop_time'], inplace=True)

In [ ]:
from sklearn.preprocessing import StandardScaler

X = dataframe.drop(columns=['label']).values
Y = dataframe['label'].values

scaler = StandardScaler()
scaler.fit(X)

X = scaler.transform(X)

In [ ]:
!pip3 install catboost

Collecting catboost
  Downloading https://files.pythonhosted.org/packages/51/fb/6eddb2667ee55c39bd12ab6676c412726fcbc86e1c0364fda8e6c3a62bc3/catboost-0.23.1-cp36-none-manylinux1_x86_64.whl (64.7MB)
     |████████████████████████████████| 64.7MB 61kB/s
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from catboost) (3.2.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from catboost) (1.12.0)
Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.0.3)
Requirement already satisfied: graphviz in /usr/local/lib/python3.6/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.18.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (1.2.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly->catboost) (1.3.3)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Installing collected packages: catboost
Successfully installed catboost-0.23.1

In [ ]:
from catboost import CatBoostClassifier
from sklearn.model_selection import train_test_split

X_train, X_validation, Y_train, Y_validation = train_test_split(X, Y, test_size=0.30, random_state=1)
model = CatBoostClassifier(iterations=1000, devices='0:1')
model.fit(X_train, Y_train, verbose=False)

In [ ]:
predicted = model.predict(X_validation)

In [ ]:
from sklearn.metrics import accuracy_score, f1_score

print(f1_score(predicted, Y_validation))

0.9708963911525029

In [ ]:
test_df = pd.read_csv("/content/drive/My Drive/ML Project Taxi Fair/test.csv")

In [ ]:
ids = test_df['tripid']

X_ = test_df.drop(columns=['pickup_time','drop_time']).values

scaler = StandardScaler()
scaler.fit(X_)

X_ = scaler.transform(X_)
Y_ = model.predict(X_)

In [ ]:
data = {"tripid" : ids, "prediction" : list(Y_)}

sample = pd.DataFrame(data)

In [ ]:
sample.to_csv("/content/drive/My Drive/ML Project Taxi Fair/cat_boost.csv",index=False)